.header{
    left: 0;
    bottom: 0;
    width: 100%;
    background:darkslategray;
    color: white;
    flex-direction: column;
    border: 1px solid darken(darkslategray,100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    margin: 0;
    padding: 0;
}

h1{
    display: flex;
    justify-content: center;
    margin:0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;

}

h3{
    display: flex;
    justify-content: center;
    margin:0;
    font-size: 90%;
    padding-bottom: 30px;
    text-align: left;
}